h2 {

  color: violet;
  }

.texto-chocolate {
  color: brown;
  }

  #texto-limon {
    color: lemonchiffon;
  }

  .destacado {
    color: blue;
    font-weight: bold;
  }
  #titulo-principal {
    text-decoration: underline;
  }

  body {
    background-image: url("img/16-2500x1667.jpg.jpg");
    background-size: cover;
  }

  