h2 {

  color: violet;
  }

.texto-chocolate {
  color: brown;
  }

  #texto-limon {
    color: lemonchiffon;
  }

  .destacado {
    color: blue;
    font-weight: bold;
  }
  #titulo-principal {
    text-decoration: underline;
  }